In [127]:
from pathlib import Path
import csv
import pandas as pd
import sys

In [119]:
csvpath = Path('../PyBank/Resources/budget_data.csv')
txtpath = Path('../PyBank/Resources/text.txt')

In [91]:
df = pd.read_csv('../PyBank/Resources/budget_data.csv')

In [92]:
print(df.head())

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [93]:
print(len(df))

86

In [94]:
total_months = len(df)
print("The total amount of months is " + str(total_months))

The total amount of months is 86

In [95]:
total = df['Profit/Losses'].sum()
print("The total profits were " + str(total))

The total profits were 38382578

In [96]:
df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [97]:
changes = df['Profit/Losses'].diff()
changes

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [98]:
meanchanges = changes.mean()
meanchanges

-2315.1176470588234

In [99]:
print("The average changes in Profit/Losses is " + str(meanchanges))

The average changes in Profit/Losses is -2315.1176470588234

In [100]:
df['changes'] = changes
df

      Date  Profit/Losses   changes
0   Jan-10         867884       NaN
1   Feb-10         984655  116771.0
2   Mar-10         322013 -662642.0
3   Apr-10         -69417 -391430.0
4   May-10         310503  379920.0
..     ...            ...       ...
81  Oct-16         102685 -665765.0
82  Nov-16         795914  693229.0
83  Dec-16          60988 -734926.0
84  Jan-17         138230   77242.0
85  Feb-17         671099  532869.0

[86 rows x 3 columns]

In [101]:
columnmax = df['changes']
maxvalue = columnmax.max()


print(maxvalue)

1926159.0

In [102]:
df.set_index(df['changes'], inplace = True)
df.head()
df.copy()

             Date  Profit/Losses   changes
changes
 NaN       Jan-10         867884       NaN
 116771.0  Feb-10         984655  116771.0
-662642.0  Mar-10         322013 -662642.0
-391430.0  Apr-10         -69417 -391430.0
 379920.0  May-10         310503  379920.0
...           ...            ...       ...
-665765.0  Oct-16         102685 -665765.0
 693229.0  Nov-16         795914  693229.0
-734926.0  Dec-16          60988 -734926.0
 77242.0   Jan-17         138230   77242.0
 532869.0  Feb-17         671099  532869.0

[86 rows x 3 columns]

In [103]:
maxmonth = df.loc[maxvalue][0]
maxmonth

'Feb-12'

In [104]:
maxprofit = int(maxvalue)
print(f"Greatest Increase in Profits: {maxmonth} (${maxprofit})")

Greatest Increase in Profits: Feb-12 ($1926159)

In [105]:
columnmin = df['changes']
minvalue = columnmin.min()
print(minvalue)

-2196167.0

In [106]:
minmonth = df.loc[minvalue][0]
minmonth

'Sep-13'

In [107]:
minprofit = int(minvalue)
print(f"Greatest Decrease in Profits: {minmonth} (${minprofit})")

Greatest Decrease in Profits: Sep-13 ($-2196167)

In [114]:
print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Greatest Increase in Profits: {maxmonth} (${maxprofit})")
print(f"Greatest Decrease in Profits: {minmonth} (${minprofit})")

Total Months: 86
Total: $38382578
Greatest Increase in Profits: Feb-12 ($1926159)
Greatest Decrease in Profits: Sep-13 ($-2196167)

In [117]:
a = print(f"Total Months: {total_months}")
b = print(f"Total: ${total}")
c = print(f"Greatest Increase in Profits: {maxmonth} (${maxprofit})")
d = print(f"Greatest Decrease in Profits: {minmonth} (${minprofit})")

Total Months: 86
Total: $38382578
Greatest Increase in Profits: Feb-12 ($1926159)
Greatest Decrease in Profits: Sep-13 ($-2196167)

In [ ]:
sys.stdout = open("text.txt", "w")

print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Greatest Increase in Profits: {maxmonth} (${maxprofit})")
print(f"Greatest Decrease in Profits: {minmonth} (${minprofit})")

sys.stdout.close()